/* LANDING PAGE */

/* home feed */
.style-scope.ytd-page-manager[page-subtype=home]
{
    display: none !important;
}

/* trending button */
#endpoint.yt-simple-endpoint.style-scope.ytd-mini-guide-entry-renderer[title=Trending]
{
    display: none !important;
}


/* VIDEO PAGE */

/* recommendations */
#secondary.style-scope.ytd-watch-flexy
{
    display: none !important;
}

/* other */
#comments
{
    display: none !important;
}

#subscribe-button
{
    display: none !important;
}

#logo
{
    display: none !important;
}
